@model BlogEngine.Core.Models.BlogEntry

<div class="entryPaddingMain">
    @Html.Raw(Model.BlogEntryText)
    @if (User.Identity.IsAuthenticated)
    {
        <div class="entryAddComment">
            @Html.ActionLink("Add a Comment »","Comment","Blog",new { id = Model.BlogEntryId }, new { @class="entryPadding btn btn-default", style="display: inline" })
        </div>
    }
</div>