<div>
    @if(Model > 0)
    {
        <a href="@Url.Action("Index","Message")">
            <span style="color: white"><i class="glyphicon glyphicon-envelope"></i> <u>@Model new</u></span>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index","Message")">
            <span style="color: white"><i class="glyphicon glyphicon-envelope"></i></span>
        </a>
    }
</div>