<div>

    @if(Model > 0)
    {
        <span style="color: white"><i class="glyphicon glyphicon-envelope"></i> <u>@Model new</u></span>
    }
    else
    {
        <span style="color: white"><i class="glyphicon glyphicon-envelope"></i></span>
    }
</div>