<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Message</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Reply</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Forward</a></li>
            <li><a href="#">Mark as read</a></li>
            <li><a href="#">Mark as unread</a></li>
            <li><a href="#">Print</a></li>
            <li><a href="#" id="hideMessageInfo" class="boldText">Info</a></li>
        </ul>
    </div>
</nav>