<h3 style="display: inline-block"><span class="glyphicon glyphicon-envelope"></span> Messages</h3>

<div class="well well-sm">
    <button class="btn btn-success" onclick="location.href='@Url.Action("Send", "Message")'">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;New Message
    </button>
</div>

@Html.Action("_Folders", "Message", new { page = "index" })
