.meta {
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 8px 0px;
    padding: 4px 12px;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-size: 11px;
    background: url("../../../Images/cream.png") repeat scroll 0% 0% rgb(238, 238, 238);
}

.entry {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    /*margin:10px 10px 20px 10px;*/
    margin:0px -15px 15px -15px;
    padding-bottom: 20px;
}

.entryPadding {
    margin: 0px;
}

.entryPaddingMain {
    margin: 20px;
}
.sidebar {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin:0px 10px 10px 0px;
    padding: 10px;
}

.widget {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding: 8px 8px;
    margin: 8px 8px 16px 8px;
    border-top: 1px solid rgb(12, 130, 182);
    border-right: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238,238,238);
    border-radius: 0px 0px 5px 5px;
}

.login {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin: 10px;
    margin-top:50px;
    padding: 5px 20px 20px 20px;
}

html,body{
    height: 100%
}

#footer{
    background-color: silver;
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    right: 0;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 200px;    /* height of footer */
}

body {
padding-top: 50px;
padding-bottom: 0px;
}

.commentName {
    font-weight: bold;
    color: black;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.commentDate {
    color: rgb(136, 136, 136);
    font-size: 0.9em;
    padding-top: 4px;
}

.commentEntry {
    padding: 5px 20px 15px 20px;
}

.centered {
    float: none;
    margin: 0 auto;
}

.editLink {
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 5px;
}

.commentIndividual {
    margin: 0px 0px 20px 15px;
}

.commentGroup {
    margin-bottom: 10px;
}

.commentChildren {
    /*border-bottom: 1px solid rgb(190, 190, 190);*/
    border-left: 1px solid rgb(190, 190, 190);
   
    margin: 0px 0px 15px 15px;
}

.commentInfoBanner {
    border-top: 1px solid rgb(12, 130, 182);
    border-bottom: 1px solid rgb(12, 130, 182);
    margin: 8px 0px;
    padding: 4px 12px;
    color: rgb(100, 100, 100);
    background: url("../../../Images/cream.png") repeat scroll 0% 0% rgb(12, 130, 182);  
}

.entryAddComment {
    margin: 10px;
}

.paginationFix {
    margin-top: 15px;
}

.paginationText {
    color: rgb(66, 139, 202);
    font-weight:500;
    font-size:14px;
}

.pagination-container {
    margin-top: -15px;
}

.editor-field-desc textarea {
    width: 790px;
    height: 100px
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgb(66, 139, 202) !important;
}

.navbar > .container .navbar-brand:hover {
    background-color: rgb(66, 139, 202) !important;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid green;
    display: inline-block;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
    display: inline-block;
}

.voteBox {
    display: inline-block;
}

.votePositive {
    color: green;
    font-weight: bold;
}
.voteNegative {
    color: red;
    font-weight: bold;
}

.img-entry {
    padding-left:5px;
    padding-right:5px;
}

.editField {
    font-weight: bold;
}

.commentNameMobile {
    font-weight: bold;
    color: black;
    font-size:medium;
    padding-left: 5px;
    padding-right: 5px;
}

.AdminButton {
    color: white;
    text-decoration: none;
}

    .AdminButton :hover {
        text-decoration: none;
        color: white;
    }

.contactFormSuccess {
    padding-bottom: -65px;
}