@model BlogEngine.Core.ViewModels.CategoryViewModel

<div>
    <div>
        @Html.LabelFor(m => m.Name)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Description)
    </div>
</div>




