@model IEnumerable<BlogEngine.Core.Models.User>
@using GridMvc.Html

@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<h2>Users</h2>

<div class="col-md-8 col-lg-8 col-sm-12">
    @Html.Grid(Model).Columns(columns => 
        {
            columns.Add().Encoded(false).Sanitized(false).SetWidth(60).RenderValueAs(u => Html.ActionLink("Edit", "Edit", new { id = u.UserId }, new { @class = "editField" }));
            columns.Add(u => u.UserId).SetWidth(60).Titled("User Id");
            columns.Add(u => u.UserName).Titled("Username").Filterable(true);
            columns.Add(u => u.LastName).Titled("Name").RenderValueAs(u => u.FirstName + " " + u.LastName);
            columns.Add(u => u.Email).Titled("Email Address");  
        }).WithPaging(3).Sortable(true)
</div>
<div class="col-md-4 col-lg-4 col-sm-12">

</div>